$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/dist/material-design-icons";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/theming';
// @include mat-core();
//$primary: mat-palette($mat-green, 900, 200, 900);
//$accent: mat-palette($mat-light-blue, A400);

//$default-theme: mat-dark-theme($primary, $accent);
//@include angular-material-theme($default-theme);

html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
}

.app-panel {
    overflow: auto;
    height: 100%;
}
.main-window-view {
    margin: 25px;
}
