<mat-expansion-panel expanded='true' hideToggle="true" (click)="click()">
  <mat-expansion-panel-header [ngClass]="tickets-container-header">
    <mat-panel-title>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="20%" fxFlexOrder="1">Item 1</div>
        <div class="item item-3" fxFlex="10%" fxFlexOrder="3">
          <mat-icon>{{icon ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
        </div>
        <div class="item item-2" fxFlex="70" fxFlexOrder="2">Item 3</div>
      </div>
    </mat-panel-title>

  </mat-expansion-panel-header>
</mat-expansion-panel>