<mat-sidenav #sidenav mode="side">
  <mat-nav-list>
    
      <a mat-list-item routerLink="page1" routerLinkActive="active-link" (click)="sidebarService.toggle(false)"><mat-icon>wb_sunny</mat-icon> A</a>
      <a mat-list-item routerLink="page2" routerLinkActive="active-link" (click)="sidebarService.toggle(false)"><mat-icon>dock</mat-icon> B</a>
      <a mat-list-item routerLink="page3" routerLinkActive="active-link" (click)="sidebarService.toggle(false)"><mat-icon>device_hub</mat-icon> C</a>
      <a mat-list-item routerLink="page4" routerLinkActive="active-link" (click)="sidebarService.toggle(false)"><mat-icon>settings</mat-icon> D</a>
  </mat-nav-list>
</mat-sidenav>